{% extends "GeekHubHomework5Bundle::layout.html.twig" %}

{% block title %}Contact{% endblock %}
{% block content %}
    <div id="wrap">
        <div class="container">
            <h1>Contacts</h1>
            <p>Tell us to learn more about ....</p>
            <p class="phone">{{ phone }}</p>
        </div>
    </div>
{% endblock %}